<form action="/" id="convert_form" method="post">
  <label for="table_name">Table Name</label> <br>
  <input id="table_name" name="table_name" type="text" class="wide_text">
  <br><br>

  <label for="select_result">Query Result</label> <br>
  <textarea id="select_result" name="select_result" class="wide_text" rows="10"></textarea>
  <br><br>

  <input name="commit" type="submit" value="Do It">
</form>

